@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
.btn{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
  }
  .btn.click{
    left: 260px;
  }
  .btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
  }
  .btn.click span:before{
    content: '\f00d';
  }
  .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
  }
  .sidebar.show{
    left: 0px;
  }
  .sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
  }
  nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
  }
  nav ul li{
    line-height: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
  nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
  }
  nav ul li.active a{
    color: #86ABA5;
    background: #1e1e1e;
    border-left-color: #86ABA5;
  }
  nav ul li a:hover{
    background: #1e1e1e;
  }
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul ul li{
    line-height: 42px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
  }
  nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
  }
  nav ul ul li a:hover{
    color: #86ABA5!important;
    background: #1e1e1e!important;
  }
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
  }
  nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
  }
  .content .header{
    font-size: 45px;
    font-weight: 600;
    color: 	#F3F3F2;
    text-align: center;
  }
  .content p{
    font-size: 28px;
    font-weight: 500;
    line-height: 60px;
    color: 	#F3F3F2;
    text-align: center;
  }
  .photo img{
    width: 100%;
    height: 800px;
  }
.footer{
    height: 50px;
    position: relative;
    top: 0;
    background-color: #dadada;
    color: #000000;
    text-align: center;
    padding: 20px;
  }
  .other{
    width: 100%;
    height: 1300px;
    background-color: #F3F3F2;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
  }
  .other span{
    font-size: 28px;
    font-weight: 800;
    display: block;
    text-align: center;
  }
  .other p{
    font-size: 20px;
    display: block;
    text-align: left;
    padding: 0 20%;
  }
  .otherimg{
    text-align: center;
  }
  .otherimg img{
    width: 500px;
    height: 250px;
  }
  .otherme{
    text-align: center;
    margin-top: 20px;
  }
  .otherme img{
    width: 700px;
    height: 400px;
  }
  .other span a{
      text-decoration: none;
  }
  .other span a:visited{
      color: #86ABA5;
  }
  .other span a:link{
      color: #202020;
  }
  .other span a:hover{
      text-decoration: none;
      background-color: #86ABA5;
      color: #F3F3F2;
  }
  .logo{
    width: 100px;
    height: 75px;
  }
  .logooth{
    width: 100px;
    height: 100px;
  }
